[submodule "deps/NeuralAmpModelerCore"]
	path = deps/NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore.git
[submodule "deps/neural-amp-modeler-lv2"]
	path = deps/neural-amp-modeler-lv2
	url = https://github.com/mikeoliphant/neural-amp-modeler-lv2.git
